
			<!-- Main sidebar -->
				<div class="sidebar-content">

					<!-- User menu -->
					<div class="sidebar-user-material">
						<div class="category-content">
							<div class="sidebar-user-material-content">
								<a href="#" class="legitRipple"><img src="assets/images/demo/users/face11.jpg" class="img-circle img-responsive" alt=""></a>
								<h6>Hi</h6>
								<span class="text-size-small">Maria</span>
							</div>
														
							<!-- <div class="sidebar-user-material-menu">
								<a href="#user-nav" data-toggle="collapse"><span>My account</span> <i class="caret"></i></a>
							</div> -->
						</div>
						
						<!-- <div class="navigation-wrapper collapse" id="user-nav">
							<ul class="navigation">
								<li><a href="#"><i class="icon-user-plus"></i> <span>My profile</span></a></li>
								<li><a href="#"><i class="icon-coins"></i> <span>My balance</span></a></li>
								<li><a href="#"><i class="icon-comment-discussion"></i> <span><span class="badge bg-teal-400 pull-right">58</span> Messages</span></a></li>
								<li class="divider"></li>
								<li><a href="#"><i class="icon-cog5"></i> <span>Account settings</span></a></li>
								<li><a href="#"><i class="icon-switch2"></i> <span>Logout</span></a></li>
							</ul>
						</div> -->
					</div>
					<!-- /user menu -->


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
								<li class="active"><a href="index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>

								<li><a ><i class="icon-user-plus"></i><span>Sales Person (Coming Soon)</span></a></li>
								<li><a ><i class="icon-width"></i> <span>Comparison (Coming Soon)</span></a></li>
								<!-- /main -->

							</ul>
						</div>
					</div>
					<!-- /main navigation -->
					<!-- Logo -->
                    <div class="sidebar-category sidebar-category-visible" style="margin-top: 100px;">
						<div>
							<img style="width: 100%;" src="../../../assets/images/retailer_logo.png"> 
						</div>
				</div>

				</div>
			
			<!-- /main sidebar -->